html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000000;
}

html, body {
    font-size: 12pt;
    height: 100%;
    overflow-x: hidden;
}

body {
    padding: 0px;
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: rgba(255, 165, 0, 0.8);
    margin: 0px;
    text-align: left;
}

.outer-wrap {
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    padding-left: 50px;
    font-family: 'Germania One', cursive;
}

p {
    line-height: 180%;
    margin-top: 0;
    padding-left: 50px;
    padding-right: 50px;
}

ol, ul {
    color: #ababab;
    list-style-type: circle;
    padding-left: 70px;
    
}

a {
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
}

.container {
    margin: 0px auto;
    width: 1200px;
}

main p {
    margin: 10px 10px;
}

#jackolanternColumns {
    display: flex;
    flex-direction: row;
}

#jackolanternColumns>* {
    display: flex;
    flex-direction: column;
}

#jackolanternColumns>* img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    padding: 15px;
    padding-right: 30px;
}

#cornImage {
    display: block;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 60%;
    max-width: 60%;
    padding: 15px;
    padding-right: 30px;
}

#roastImage {
    display: block;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 60%;
    max-width: 60%;
    padding: 15px;
    padding-right: 30px;
}

.hauntedImage {
    height: auto;
    float: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 20%;
    max-width: 20%;
}

#hauntedImage {
    height: auto;
    float: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 40%;
    max-width: 40%;
    padding: 15px;
    padding-right: 30px;
}

.linkfont {
    font-family: 'Germania One', cursive;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.landingImg {
    width: 125px;
    height: 125px;
    float: left;
}

.halloweenImage {
    width: 100%;
}


.halloweenImage_Text {
    
}

#tap_for_nav svg {
    padding-right: 10px;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

footer h1 {
    color: #FFBE4a;
    padding-top: 20px;
}

footer {
    margin-top: 10%;
    color: #AAA;
    border-top: solid 1px #FFBE4a;
    height: 160px;
}

@media screen and (min-width: 750px){
    footer {
        display: flex;
        column-count: 3;
        flex-direction: row;
    }
    
    footer>*{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    
    #jackolanternColumns {
        display: block;
        float: left;
    }

    #jackolanternColumns>* {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        padding-right: 10px;
    }

    #jackolanternColumns>* img {
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
        
    }

    .linkfont {
        font-family: 'Germania One', cursive;
    }
    
    .hauntedImage {
        float: center;
    }
}