@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Germania+One');

/***************************************************************************************************************************************************************/
/* NTC Web Design Team - BPA       CSS File                                                                                                                    */
/***************************************************************************************************************************************************************/

html, body {
    height: 100%;
}

html {
    background: #161410 url(images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

body {
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    padding: 0px;
}

h1, h2, h3 {
    color: #FFBE4a;
    font-family: 'Germania One', cursive;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-top: 0px;
}

p {
    line-height: 180%;
    margin-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

/*********************************************************************************/
/* Upper Navigation Bar                                                          */
/*********************************************************************************/

#siteTitle {
    font-family: 'Germania One', cursive;
    color: #FFBE4a;
    font-size: 24px;
    padding-left: 1em;
}

.menu {
    background-color: rgba(0,0,0,1);
    border-bottom: 6px solid #423838;
    font-family: 'Germania One', cursive;
    left: 0;
    margin-left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
}

    .menu ul {
        display: inline-block;
        line-height: normal;
        list-style: none;
        margin-left: 2%;
        margin-top: 20px;
        padding: 0px 0px 0px 0px;
    }

    .menu ul {
        margin: 0;
    }

    .menu li {
        display: inline-block;
        padding-left: 25px;
        font-size: 17px;
    }

    .menu a {
        color: white;
        text-decoration: none;
    }

    .menu li:hover {
        color: #E6E6E6;
    }

.social {
    float: right;
}

    .social li {
        padding: 6.5px;
    }

    .social a:hover {
        -moz-box-shadow: 0 0 5px #fff;
        -webkit-box-shadow: 0 0 5px #fff;
        box-shadow: 0px 0px 5px #fff;
    }

    .social img {
        height: 40px;
        width: 40px;
        margin-top: 2px;
    }

ul.social {
    background-color: rgba(0,0,0,1);
    border-bottom: 6px solid #423838;
    margin-right: 2%;
    padding: -1em;
}

ul.tabs {
    background-color: rgba(0,0,0,1);
    border-bottom: 6px solid #423838;
    height: 60px;
}

    ul.tabs li a {
        display: block;
        padding: -1em -1em;
        line-height: 60px;
        letter-spacing: 1px;
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
        color: #FFFFFF;
    }

        ul.tabs li a:hover {
            text-decoration: none;
            color: #FFBE4a;
        }

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu a:hover {
    text-decoration: none;
    background: #BC1414;
    color: #FFF;
}

ul.tabs li {
    display: inline-block;
}




    ul.tabs li.selected a {
        background: #BC1414;
        color: #FFFFFF;
    }

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#page {
    background-color: rgba(9,9,9,0.90);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 3em 0em;
    width: 960px;
}

#content {
    float: left;
    width: 800px;
}

.container {
    margin: 0px auto;
}

.linkfont {
    color: #FFBE4a;
}

/*********************************************************************************/
/* Images                                                                        */
/*********************************************************************************/

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 60px;
    width: auto;
    height: auto;
}

#carving, #hauntedImage, #cornImage, #food {
    border: 2px solid white;
    border-radius: 25px;
    margin-left: 50px;
    width: 225px;
    height: 200px;
    float: right;
    margin: 15px 15px;
}

.hauntedImage {
    border: 2px solid white;
    border-radius: 25px;
    height: auto;
    float: right;
    width: auto;
    margin: 15px 15px;
    /*
    margin-left: auto;
    margin-right: auto;
*/
    max-height: 20%;
    max-width: 20%;
}

#carving {
    float: right;
}

/*********************************************************************************/
/* Button                                                                        */
/*********************************************************************************/

.button {
    padding: 10px;
    border-radius: 3px;
    background-color: transparent;
    font-family: Trebuchet MS;
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.float {
    float: left;
    margin-right: 10px;
}

.orange {
    color: #ff5722;
    border: 2px solid #ff5722;
    background-color: transparent;
    transition: all 0.2s ease;
}

    .orange:hover {
        color: #F0F0F0;
        background-color: #ff5722;
    }

    .orange:active {
        margin-top: 2px;
        background-color: #dd3500;
        border: 2px solid #dd3500;
    }

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
    overflow: hidden;
    padding: 6em 0em 4em 0em;
    text-align: center;
}

    #footer .title {
        letter-spacing: 0.10em;
        text-transform: uppercase;
        color: #FFF;
        padding-left: 0px;
    }

    #footer p {
        padding-left: 0px;
    }

    #footer #fbox1 {
        display: auto;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 300px;
    }

#developerName {
    text-shadow: 3px 3px 3px #000;
}

.developers {
    padding-left: 0;
    text-shadow: 4px 4px 4px #000;
}

.footer {
    margin: auto;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
    background-color: #000000;
    border-top: 6px solid #423838;
    color: #FFFFFF;
    letter-spacing: 0.20em;
    padding: 3em;
    text-align: left;
}

    #copyright a {
        color: #FFFFFF;
        padding: 1em;
        vertical-align: top;
    }

    #copyright p {
        text-align: left;
    }